.landingImg {
  transition: 2s;
}
.landingImg:hover {
  scale: 1.12;
  transition: ease-in-out 1s;
  rotate: 100deg;
}
.scroll-text {
  white-space: nowrap;
  display: inline-block;
  animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
